<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
         body{
            background-color: rgba(95, 158, 160,0.6);
            padding: 30px 0px;
        }
         .header{
            font-family: cursive;
            color: blanchedalmond;
            text-align: center;
        
        }
        td,th{
            padding: 10px;
        }
        table{
            border:2px solid white;
        }
    </style>
</head>
<body>
    <h1 class="header">View Task</h1>
    <table cellpadding="0" cellspacing="0" border="1" align="center">
        <tr>
            <th>staff_name</th>
            <th>Task</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Total Days</th>
            <th>Delete Action</th>
            <th>Edit Action</th>
        </tr>
    
        <%result.forEach(function(data){%>
            <tr>
                <td><%= data.name %></td>
                <td><%= data.task_name %></td>
                <td><%= data.date %></td>
                <td><%= data.end_date %></td>
                <td><%= data.total_days %></td>
                <td><a href="/task_delete/<%= data.id %>">Delete</a></td>
                <td><a href="/task_update/<%= data.id %>">Edit</a></td>
            </tr>
          <%});%>  
          <tr>
            <td colspan="7" align="center">
                <a href="/admin" style="display: block;">Return Page</a>
            </td>
        </tr>
    </table>
</body>
</html>